.button {
	-fx-font-family: Serif;
	-fx-font-weight: bold;
}

.text-field {
	-fx-font-family: Serif;
	-fx-font-size: 14;
}



.tab {
	-fx-font-family: Serif;
	-fx-font-weight: bold;
	-fx-font-size: 17;
/*	-fx-background-color: transparent;*/
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator
	{
	-fx-border-color: transparent;
}

.tab-pane>.tab-header-area>.tab-header-background {
	-fx-background-color: transparent;
}

.tab-pane {
	-fx-background-color: transparent;
}

.table-view {
	-fx-background-color: white;
	-fx-opacity: 70%;
}

.table-row-cell {
	-fx-background-color: transparent;
	-fx-border-color: lightgrey;
	-fx-cell-size: 30px;
}

.table-row-cell:selected{
	-fx-background-color: aquamarine;
}

.table-column {
	-fx-font-family: Serif;
	-fx-font-size: 16;
	-fx-dark-text-color: black ;
	-fx-mid-text-color: black ;
	-fx-light-text-color: black ;
}

#tcName{
	-fx-font-weight: bold;
}

/*----Hauptmenü---------------------------------------*/
#btInventaransicht, #btBeenden {
	-fx-font-size: 25;
}

#Hauptmenue {
	-fx-background-image: url("../../img/background/hauptmenue.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 1600 900;
	-fx-background-position: center center;
}

/*----Inventaransicht---------------------------------*/
#btItemAnsicht {
	-fx-font-size: 14;
}

#btName, #btArt, #btSeltenheit, #btWert, #btAngriff, #btVerteidigung,
	#btGewicht, #btElement, #btResistenz, #btSchnelligkeit, #btBuffs {
	-fx-background-color: none;
	-fx-background-image: url("../../img/buttons/sortierbuttons.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100 30;
	-fx-background-position: center center;
}

#btHauptmenue, #btItemErstellen, #btItemLoeschen {
	-fx-font-size: 18;
}

#InventarAnsicht,#ItemsLoeschen {
	-fx-background-image:
		url("../../img/background/inventaransicht.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 1600 900;
	-fx-background-position: center center;
}

/*----Alles-/Waffen-/Rüstungs-/Verbrauchs-View--------*/
#btName, #btArt, #btSeltenheit, #btWert, #btAngriff, #btVerteidigung,
	#btGewicht, #btElement, #btResistenz, #btSchnelligkeit, #btBuffs {
	-fx-font-size: 14;
}

#btReset {
	-fx-font-size: 14;
}

#btSuchen {
	-fx-font-size: 14;
}

/*----Item-Erstellen-----------------------------------*/
#btWaffe, #btRuestung, #btVerbrauchsgegenstand {
	-fx-font-size: 25;
}

/*----Erstelle Waffe/Rüstung/Verbra...-----------------*/
#btErstellen, #btAbbrechen {
	-fx-font-size: 20;
}

/*----Item-Löschen-------------------------------------*/
#btDauerhaftLoeschen, #btZurueck2 {
	-fx-font-size: 18;
}

/*----Item-Ansicht-Waffe/Rüstung/Verbra...-------------*/
#btZurueck {
	-fx-font-size: 16;
}

#Detailansicht {
	-fx-background-image: url("../../img/background/detailansicht.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 950 450;
	-fx-background-position: center center;
}


/*----Error-Nachrichten---------------------------------*/

#tError,#tError1,#tError2,#tError3,#tError4,#tError5{
	-fx-font-family: Serif;
	-fx-font-size: 14;
}
